@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1vw;
  color: var(--textDark);
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  &.no-scroll {
    overflow: hidden;
    position: relative;
    height: 100%;
    touch-action: none;
    -ms-touch-action: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-weight: 800;
  font-size: 5em;
  line-height: 1.1;
}

h2 {
  font-weight: 800;
  font-size: 2.25em;
  line-height: 1.3;
}

h3 {
  font-weight: 800;
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

p,
a {
  font-size: 1.25em;
  color: var(--fontDark);
}

a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.section {
  margin: 12em 0;
  position: relative;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 6em;
  width: 100%;
  height: 100%;
  max-width: 1800px;
  position: relative;

  &.small {
    max-width: calc(900px + 12em);
  }
}

.container-grid {
  display: grid;
  grid-template-columns: auto repeat(3, minmax(0px, 600px)) auto;
  height: 100%;
  align-items: center;
  align-content: flex-start;
}

.header {
  background: white;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-wrap {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  &_logo-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &_logo {
    height: 4.5em;
    &_link {
      font-size: 1em;
      display: flex;
      align-items: center;
    }
  }
  &_title {
    margin: 0 0.5em;
    font-size: 1.55em;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
  }
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &_item {
      padding: 1em 0;
      margin: 0.5em 1.5em;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      &.mega-menu_trigger {
        &::after {
          content: "+";
          margin-left: 0.5em;
          font-size: 0.85em;
          margin-top: 0.1em;
        }
      }
    }
    &-menu {
      display: flex;
      margin-left: auto;
    }
    &-toggle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      display: none;
      width: 2.5em;
      cursor: pointer;
      transition: transform 200ms ease-out;
      @include notap;
      .dot {
        height: 0.5em;
        width: 0.5em;
        border-radius: 10000px;
        background: var(--textDark);
        position: absolute;
        transition: all 200ms ease-out;
        &:nth-child(1) {
          transform: translate3d(-0.8em, 0, 0);
        }
        &:nth-child(3) {
          transform: translate3d(0.8em, 0, 0);
        }
      }
      &.active {
        transform: rotate(180deg);
        .dot {
          &:nth-child(1) {
            width: 2.25em;
            height: 0.3em;
            transform: translate3d(0, 0, 0) rotate(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            width: 2.25em;
            height: 0.3em;
            transform: translate3d(0, 0, 0) rotate(-45deg);
          }
        }
      }
    }
  }
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 3em 0;
    background: white;
    box-shadow: 0 1em 2em -1em rgba(black, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-out;
    transition-delay: 300ms;
    transform: translateY(-3em);
    &_back {
      display: none;
    }

    .container {
      max-width: 1800px !important;
    }

    .section_content {
      display: flex;
      align-items: flex-start;
      .section_title {
        display: none;
      }
    }

    .categories-wrap {
      flex-direction: column;
      margin-right: 5em;
      .category {
        white-space: nowrap;
        margin-bottom: 1em;
        width: 100%;
        display: flex;
        align-items: center;
        background: var(--grey);
        padding: 1em;
        &.ecology:hover {
          color: var(--textLight);
          background: var(--ecology);
          opacity: 1;
          &:before {
            filter: grayscale(100) brightness(1000);
          }
        }
        &.quantum:hover {
          color: var(--textLight);
          background: var(--quantum);
          opacity: 1;
          &:before {
            filter: grayscale(100) brightness(1000);
          }
        }
        &.etcetera:hover {
          color: var(--textLight);
          background: var(--etcetera);
          opacity: 1;
          &:before {
            filter: grayscale(100) brightness(1000);
          }
        }
      }
    }

    .tags-wrap {
      max-height: 400px;
      overflow: auto;
    }
  }
  @media only screen and (min-width: 1001px) {
    .mega-menu_trigger:hover + .mega-menu,
    .mega-menu:hover {
      transform: translateY(0em);
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0ms;
    }
  }
}

.search {
  &_wrap {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 2em;
  }
  &_icon {
    height: 2em;
    width: 2em;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  &_input {
    margin: 0;
    padding: 1em 1em 1em 1.5em;
    position: relative;
    border: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--textDark);
    border-radius: 0px;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--textDark);
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
    &-wrap {
      position: absolute;
      top: 250%;
      max-width: 95vw;
      right: 0;
      box-shadow: 0 1em 2em -1em rgba(black, 0.25);
      background: white;
      opacity: 0;
      transform: translateY(-3em);
      transition: all 150ms ease-out;
      display: flex;
      &.open {
        opacity: 1;
        transform: translateY(0em);
      }
    }
  }
  &_submit {
    font-size: 1.25em;
    font-family: "Poppins", sans-serif;
    color: var(--textLight);
    background: var(--textDark);
    border: none;
    padding: 1em;
    cursor: pointer;
    &:hover {
      background: var(--dark-hover);
    }
  }
}

.footer {
  height: auto;
  background: var(--grey);
  display: flex;
  flex-direction: column;

  .tags {
    background: white;
    margin: 0;
    padding-bottom: 12em;
  }

  .contact-cta_background {
    grid-column: 1/1;
    width: 100%;
    height: 100%;
    grid-row: 1/1;
    background: var(--ecology);
    background: var(--accent-clr);
  }
  .contact-cta_wrap {
    grid-column: 2/4;
    grid-row: 1/1;
    color: var(--textLight);
    background: var(--ecology);
    background: var(--accent-clr);
    height: 100%;

    padding: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-cta {
    font-size: 3em;
    font-weight: 900;
    line-height: 1;
  }
  .quote {
    &_wrap {
      grid-column: 4/5;
      padding: 6em;
      height: 100%;

      font-style: italic;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &_block {
      margin-bottom: 1em;
    }
    &_name {
      width: 100%;
      text-align: right;
    }
  }
  .quote_background {
    background: white;
    width: 100%;
    height: 100%;
    grid-column: 5/6;
  }
  &-main {
    padding: 6em 0 1.5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    position: relative;
    align-content: space-between;
    .section_title {
      margin-bottom: 0;
      &::after {
        content: unset;
      }
    }
  }
  &_nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-wrap {
      grid-column: 1/4;
      grid-row: 2/3;
      align-self: center;
      margin-right: auto;
    }
  }
  .nav_item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0 3em 1em 0 !important;
  }
  &_form-wrap {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 3em;

    .section_title {
      padding-bottom: 0;
    }
    .newsletter-signup {
      display: flex;
      flex-direction: column;
      input {
        max-width: 30em;
        background: transparent;
        border: none;
        border-bottom: 2px solid rgba(black, 0.1);
        font-size: 1.25em;
        padding: 1em 0;
        &:focus {
          outline: none;
        }
        &[type="submit"] {
          border: none;
          font-weight: 700;
          background: var(--textDark);
          margin-top: 1.5em;
          padding: 1em 3em;
          align-self: flex-start;
          &:hover {
            background: var(--dark-hover);
          }
        }
      }
    }
  }
  &_logo {
    grid-column: 6/7;
    grid-row: 1/2;
    position: relative;
    top: -7em;
    right: 0;
    width: 6.5em;
    margin-left: auto;
  }
  &_tagline {
    grid-column: 3/7;
    grid-row: 1/3;
    text-transform: uppercase;
    font-size: 10em;
    line-height: 0.8;
    text-align: right;
    align-self: flex-end;
    font-weight: 900;
    margin-top: 3rem;
  }
  &-btm {
    margin-top: 3em;
    grid-column: 1/-1;
    grid-row: 3/3;
    border-top: 2px solid rgba(black, 0.1);
    padding: 1.5em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .siteby-tag,
    .copyright {
      font-size: 0.85em;
    }
    .siteby-tag_link {
      font-size: 1em;
    }
    .social-icons_link_icon {
      margin: 0 1em;
    }
  }
}

.section_content {
  width: 100%;
}

.section_title {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  position: relative;
  &.light {
    color: var(--textLight);
  }
  &::after {
    @include divider;
    width: 100%;
  }
}

.section_desc {
  max-width: 850px;
  font-size: 1.25em;
}

.article-list {
  display: grid;
  grid-gap: 5em;
  .article {
    display: grid;
    grid-gap: 1.5em;
    height: 100%;
    width: 100%;
    position: relative;
    &_info {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      &_inner {
        font-size: 1em;
        margin: 1em 0;
      }
    }
    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_tags {
      display: flex;
    }
    &_date {
      font-weight: 700;
      opacity: 0.5;
      color: var(--ecology);
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1em;
      transform: translateY(45%);
    }
    &_title {
      margin: 0 0 0.5em;
      line-height: 1.2;
    }
  }
  &.small {
    grid-template-columns: 1fr;
    .article {
      grid-template-columns: 0.3fr 1fr;
      &_img {
        max-height: 9em;
      }
    }
  }
  &.large {
    grid-template-columns: repeat(2, 1fr);
    .article {
      align-content: flex-start;
      &_img {
        height: 17em;
      }
    }
  }
}

.tags {
  .category {
    margin-bottom: 1em;
  }
}

.categories-wrap {
  display: flex;
  margin-bottom: 3em;
  flex-wrap: wrap;
  justify-content: start;
  .article_tag {
    margin-right: 3em !important;
  }
}

.tags-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  .tag {
    font-weight: 700;
    margin: 0 2em 1em 0;
  }
  .article_tag {
    margin: 0 !important;
  }
}

.social-icons_link {
  &::after {
    content: unset;
  }
  &_icon {
    width: 2em;
    margin-left: 2em;
  }
}

.progress-bar {
  --scroll: 0%;
  background: linear-gradient(
    to right,
    var(--ecology) var(--scroll),
    transparent 0
  );
  background: linear-gradient(
    to right,
    var(--accent-clr) var(--scroll),
    transparent 0
  );
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0px;
  z-index: 1000;
}

.article_tag {
  margin: 0 1.5em 0 0;
  font-size: 1em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &.category {
    margin-right: auto;
  }
}

.noise {
  pointer-events: none;
  background-image: url(/images/noise.png);
  position: fixed;
  top: -6em;
  left: -6em;
  right: -6em;
  bottom: -6em;
  background-repeat: repeat;
  animation: noise 0.35s infinite step-start;
  opacity: 0.4;
}

input[type="text"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
