.category-index {
  .section.sub-hero {
    padding: 8em 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    .hero_categories {
      display: none;
    }
    .hero_category {
      background: var(--accent-img), var(--accent-clr);
      .hero_category_color {
        background: var(--accent-clr);
      }
    }
    .hero_content {
      position: unset;
      &_title {
        &-large {
          white-space: unset;
          font-size: clamp(2.25em, 7vw, 7em);
          display: flex;
          flex-direction: column;
          position: unset;
          color: var(--textDark);
        }
      }
      &_gear {
        position: absolute;
        top: 15%;
        right: -7%;
        width: 27em;
        height: 27em;
        max-width: 35vw;
        max-height: 35vw;
        animation: gear-rotate 80s linear infinite;
        z-index: -1;
      }
    }
  }
}
