// Media Queries
@media only screen and (min-width: 1440px) {
  body {
    font-size: 14.4px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 10px;
  }

  .container {
    padding: 0 6vw;
    &.small {
      padding: 0 6vw;
    }
  }

  .header {
    .nav-menu {
      position: fixed;
      top: 0;
      bottom: -10em;
      left: 0;
      right: 0;
      background: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      z-index: 2;
      transition: opacity 200ms ease-out;
      padding-bottom: 10em;
      &.open {
        opacity: 1;
        pointer-events: auto;
      }
    }
    .nav {
      flex-direction: column;
      height: auto;
      font-size: 1.5em;
      max-height: 96vh;
      overflow-y: auto;

      &_item {
        height: auto;
        font-size: 1.25em;
      }
      .mega-menu {
        position: absolute;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding-top: 6em;
        max-height: 100vh;
        box-shadow: unset;
        pointer-events: auto;
        margin: 0;
        transition: all 700ms ease;
        background: var(--textLight);
        box-shadow: -1em 0 2em -1em rgba(black, 0.15);
        z-index: 4;
        transform: translateX(110%);
        &_back {
          display: block;
          position: absolute;
          top: 0;
          left: 6vw;
          font-size: 1em;
          font-weight: 600;
          transform: translateY(120%);
          cursor: pointer;
        }
        &.open {
          transform: translateX(0%);
        }
        .section_content {
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          .tags-wrap {
            align-items: center;
            justify-content: flex-start;
            max-height: unset;
            padding: 1em;
            background: var(--grey);
          }
          .categories-wrap {
            flex-direction: column;
            padding: 0;
            margin: 0 0 3em 0;
            width: 100%;
            .category {
              font-size: 1.25em;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .tag {
            font-size: 1.25em;
          }
        }
      }
    }
    .social-icons {
      position: absolute;
      bottom: 10em;
      left: 0;
      right: 0;
      justify-content: center;
      padding: 1.5em 0em;
      background: white;
    }
    .social-icons_link_icon {
      margin: 0 1em;
    }
    .nav-toggle {
      display: flex;
      position: relative;
      z-index: 3;
      order: 3;
    }

    .search {
      &_wrap {
        height: 100%;
        order: 2;
        margin-left: auto;
        margin-right: 2em;
        position: unset;
      }
      &_input {
        width: 100%;
        &-wrap {
          position: absolute;
          top: 100%;
          left: 2%;
          right: 2%;
        }
      }
      &_icon {
        margin-right: 1em;
      }
    }
  }

  .hero_content_title-large,
  .footer_tagline {
    font-size: 10vw;
  }
  .footer {
    .container-grid {
      display: grid;
      grid-template-columns: 6vw 1fr 6vw;
      .contact-cta_background {
        display: none;
      }
      .contact-cta_wrap {
        grid-column: 1/4;
        padding-left: 6vw;
        padding-right: 6vw;
      }
      .contact-cta {
        font-size: 4vw;
      }
      .quote_wrap {
        grid-column: 1/4;
        padding: 6em 6vw 4em;
        align-items: flex-start;
      }
      .quote_background {
        display: none;
      }
    }
  }

  .article-index {
    .hero_content {
      padding-top: 0;
    }

    .section_content {
      background: white;
    }

    .article_tags {
      .tag,
      .category {
        margin-bottom: 1em !important;
      }
    }
    .code-block {
      &_wrap {
        &:before {
          bottom: unset;
          right: 0;
          height: 0.5em;
          width: 100%;
        }
      }
      .chroma-body {
        .chroma {
          max-width: 650px;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {
    &_title {
      display: none;
    }
  }

  .hero .hero_content_nav {
    grid-template-columns: 1fr;
    &-link {
      justify-content: flex-start !important;
      font-size: 1.25em !important;
    }
  }

  .section.hero {
    flex-direction: column;
    height: auto;
  }

  .hero_content {
    padding-top: 12em;
    padding-bottom: 6em;
    width: 100%;
  }

  .hero_categories {
    display: none;
    position: relative;
    height: 30em;
    width: 100%;
    margin-top: 6em;
    align-items: center;
    .hero_category_img {
      height: 100vh;
      top: -100%;
    }
  }

  .article-list.large {
    grid-template-columns: 1fr;
    .article {
      grid-template-columns: 1fr;
      .article_img {
        min-height: 20em;
      }
    }
  }

  .article-list.small {
    .article {
      grid-template-columns: 1fr;
      .article_img {
        min-height: 20em;
      }
    }
  }

  .about_inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .feature-image {
      max-width: 85vw;
      max-height: 85vw;
      margin: 0 auto;
      &_wrap {
        margin: 0 0 3em 0 !important;
      }
    }
  }

  .sub-hero {
    flex-direction: column;
    padding: 0 !important;
  }

  .footer {
    .container-grid {
      display: grid;
      grid-template-columns: 6vw 1fr 6vw;
      .contact-cta_background {
        display: none;
      }
      .contact-cta_wrap {
        grid-column: 1/4;
        padding-left: 6vw;
        padding-right: 6vw;
      }
      .contact-cta {
        font-size: 6vw;
      }
      .quote_wrap {
        grid-column: 1/4;
        padding: 6em 6vw 4em;
      }
      .quote_background {
        display: none;
      }
    }
    &-main {
      display: flex;
      flex-direction: column;
    }
    &_logo {
      width: 15vw;
      max-width: 60px;
      order: -1;
      margin: 0;
      top: 0;
      margin-top: -7em;
      margin-bottom: 3em;
    }
    &_form-wrap {
      margin-bottom: 3em;
    }
    &_tagline {
      font-size: 16.5vw;
      margin-top: 1rem;
    }
    &-btm {
      flex-wrap: wrap;
      & > * {
        margin: 1em 0;
      }
      .social-icons {
        order: -1;
        &_link_icon {
          margin: 0;
          margin-right: 2em;
        }
      }
    }
  }

  .category .article_author-card {
    display: flex !important;
    flex-direction: column;
    &_img-wrap {
      width: 50%;
      min-width: 100px;
      place-self: center;
      order: -1;
    }
    &_info {
      order: 2;
      margin-top: 3em;
    }
    .social-icons {
      order: 1;
    }
  }

  .article_nav {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    &_btn:last-of-type {
      justify-content: flex-end;
      display: flex;
    }
    .social-icons {
      order: 3;
      margin-top: 3em;
      grid-column: span 2;
      place-self: center;
    }
  }

  .hero_article_img,
  .code-block_wrap,
  .video-embed_wrap,
  .article_img-wrap .article_img,
  .article_quote-block,
  .article_author-card {
    @include full-width;
  }

  .article_quote-block {
    padding: 6em 14vw !important;
  }

  .chroma-body {
    padding: 3em 14vw;
  }

  .article_body {
    .section_content {
      padding: 0 6vw !important;
    }
  }
}

@media only screen and (max-width: 400px) {
  .header {
    .mega-menu {
      .category,
      .tag {
        font-size: 4vw !important;
      }
    }
  }

  .article {
    &_img-link {
      @include full-width;
    }
  }
}
