<footer class="footer" id="footer">
    <section class="section tags" id="tags">
        {%- include tags.html -%}
    </section>

    <div class="container-grid">
        <div class="contact-cta_background"></div>
        <div class="contact-cta_wrap" id="contact">
            <p class="section_desc">Let's Talk</p>
            <a
                    href="mailto:hey@electricjones.com?subject=Let's Work Together"
                    class="contact-cta"
            >hey@electricjones.com</a
            >
        </div>
        <div class="quote_wrap">
            <p class="quote_block">
                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minima
                cum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
                minima cum.""
            </p>

            <p class="quote_name">- Darren Harroff</p>
        </div>
        <div class="quote_background"></div>
    </div>
    <div class="container">
        <div class="footer-main" data-aos>
            <div class="footer_form-wrap">
                <h2 class="section_title">Join the Adventure</h2>
                <form action="" class="newsletter-signup">
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="First & Last Name"
                            aria-placeholder="First & Last Name"
                            required
                            aria-required=""
                    />
                    <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            aria-placeholder="Email"
                            required
                            aria-required=""
                    />
                    <input class="button-dark" type="submit" value="Submit" />
                </form>
            </div>

            <div class="footer_nav-wrap">
                <h2 class="section_title">See More</h2>

                <div class="footer_nav">
                    <a href="" class="nav_item">Projects</a>
                    <a href="/index.html#about" class="nav_item">About Me</a>
                </div>
            </div>

            <img src="/images/steampunkey.svg" alt="steampunkey" class="footer_logo" />
            <h2 class="footer_tagline">Code<br />with<br />meaning</h2>
            <div class="footer-btm">
                <p class="copyright">&#169; ElectricJones 2021</p>

                <div class="social-icons">
                    <a href="" class="social-icons_link"
                    ><img
                            src="/images/github-logo-fill.svg"
                            alt=""
                            class="social-icons_link_icon"
                    /></a>

                    <a href="" class="social-icons_link"
                    ><img
                            src="/images/linkedin-logo-fill.svg"
                            alt=""
                            class="social-icons_link_icon"
                    /></a>

                    <a href="" class="social-icons_link"
                    ><img
                            src="/images/instagram-logo-fill.svg"
                            alt=""
                            class="social-icons_link_icon"
                    /></a>
                    <a href="" class="social-icons_link"
                    ><img
                            src="/images/email-solid.svg"
                            alt=""
                            class="social-icons_link_icon"
                    /></a>
                </div>

                <p class="siteby-tag">
                    Made with love by
                    <a href="https://sweven.design" target="_blank" class="siteby-tag_link"
                    >Sweven.design</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>

<!--<script src="/js/includes.js"></script>-->
<script src="/js/hero-nav.js"></script>
<script src="/js/progressBar.js"></script>
<script defer src="/js/navigation.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/parallax.js"></script>
<script>
  Parallax([{ class: ".hero_category_img", speed: 0.5 }]);
</script>