<footer class="footer" id="footer">
    <section class="section tags" id="tags">
        {%- include tags.html -%}
    </section>

    <div class="container-grid">
        <div class="contact-cta_background"></div>
        <div class="contact-cta_wrap" id="contact">
            <p class="section_desc">Let's Talk</p>
            <a
                    href="mailto:{{ site.email }}?subject=Website Message"
                    class="contact-cta"
            >{{ site.email }}</a
            >
        </div>
        <div class="quote_wrap">
            <p class="quote_block">
                "If there is magic in the world, it will be found in the water."
            </p>

            <p class="quote_name">- Loren Eiseley</p>
        </div>
        <div class="quote_background"></div>
    </div>
    <div class="container">
        <div class="footer-main" data-aos>
            <div class="footer_form-wrap">
                <h2 class="section_title">Join the Adventure</h2>
                <form action="" class="newsletter-signup">
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="First & Last Name"
                            aria-placeholder="First & Last Name"
                            required
                            aria-required=""
                    />
                    <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            aria-placeholder="Email"
                            required
                            aria-required=""
                    />
                    <input class="button-dark" type="submit" value="Submit" />
                </form>
            </div>

            <div class="footer_nav-wrap">
                <h2 class="section_title">See More</h2>

                <div class="footer_nav">
                    <a href="/projects" class="nav_item">Projects</a>
                    <a href="/index.html#about" class="nav_item">About Me</a>
                </div>
            </div>

            <img src="/assets/images/steampunkey.svg" alt="steampunkey" class="footer_logo" />
            <h2 class="footer_tagline">Code<br />with<br />meaning</h2>
            <div class="footer-btm">
                <p class="copyright">&#169; ElectricJones 2022</p>

                {% include social.html %}

                <p class="siteby-tag">
                    Made with love by
                    <a href="https://sweven.design" target="_blank" class="siteby-tag_link"
                    >Sweven.design</a
                    >
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/hero-nav.js"></script>
<script src="/assets/js/progressBar.js"></script>
<script defer src="/assets/js/navigation.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/parallax.js"></script>
<script>
  Parallax([{ class: ".hero_category_img", speed: 0.5 }]);
</script>
