<header class="header" id="header">
    <div class="container">
        <div class="header-wrap">
            <div class="header_logo-wrap">
                <a href="/index.html" class="header_logo_link">
                    <img
                            src="/assets/images/steampunkey.svg"
                            alt="{{ site.title }}"
                            class="header_logo"
                    />
                    <h2 class="header_title">{{ site.title }}</h2>
                </a>
            </div>
            <div class="nav-toggle">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="nav-menu">
                <nav class="nav">
                    <a class="nav_item mega-menu_trigger">Explore</a>
                    <div class="mega-menu tags">
                        <div class="mega-menu_back">Back</div>
                        {%- include tags.html -%}
                    </div>
                    <a class="nav_item" href="/projects">Projects</a>
                    <a class="nav_item" href="/index.html#about">About Me</a>
                    <a class="nav_item" href="#contact">Let's Talk</a>
                </nav>
                {% include social.html %}
            </div>
<!--            <form class="search_wrap">-->
<!--                <img class="search_icon" src="/assets/images/search.svg" alt="Search" />-->
<!--                <div class="search_input-wrap">-->
<!--                    <input-->
<!--                            class="search_input"-->
<!--                            type="search"-->
<!--                            name="search"-->
<!--                            id="search"-->
<!--                            placeholder="Search around"-->
<!--                    />-->
<!--                    <input type="submit" class="search_submit" value="Go"></input>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
    <div class="progress-bar"></div>
    <div class="noise"></div>
</header>
