<div class="social-icons">
    <a href="{{ site.social.github }}" class="social-icons_link"
    ><img
            src="/assets/images/github-logo-fill.svg"
            alt=""
            class="social-icons_link_icon"
    /></a>

<!--
    <a href="{{ site.social.linkedin }}" class="social-icons_link"
    ><img
            src="/assets/images/linkedin-logo-fill.svg"
            alt=""
            class="social-icons_link_icon"
    /></a>
-->

<!--    <a href="{{ site.social.instagram }}" class="social-icons_link"-->
<!--    ><img-->
<!--            src="/assets/images/instagram-logo-fill.svg"-->
<!--            alt=""-->
<!--            class="social-icons_link_icon"-->
<!--    /></a>-->
    <a href="mailto:{{ site.email }}?subject=Website Message" class="social-icons_link"
    ><img
            src="/assets/images/email-solid.svg"
            alt=""
            class="social-icons_link_icon"
    /></a>
</div>
