<!-- Drives both the "Explore" mega menu content & the Explore More sections -->
<div class="container">
    <div class="section_content">
        <h2 class="section_title">Keep Exploring</h2>
        <div class="categories-wrap">
            <a href="/category-index.html" class="article_tag category ecology"></a>
            <a href="/category-index.html" class="article_tag category quantum"></a>
            <a href="/category-index.html" class="article_tag category etcetera"></a>
        </div>
        <div class="tags-wrap">
            <a href="/category-index.html" class="tag newtag">New Tag</a>
            <a href="/category-index.html" class="tag rust">Rust</a>
            <a href="/category-index.html" class="tag technology">Data</a>
            <a href="/category-index.html" class="tag pizza">Tag 3</a>
            <a href="/category-index.html" class="tag rust">Tag 4</a>
            <a href="/category-index.html" class="tag pizza">Tag 5</a>
            <a href="/category-index.html" class="tag rust">Tag 6</a>
            <a href="/category-index.html" class="tag pizza">Tag 7</a>
            <a href="/category-index.html" class="tag technology">Tag 8</a>
            <a href="/category-index.html" class="tag rust">Tag 9</a>
            <a href="/category-index.html" class="tag technology">Tag 10</a>
            <a href="/category-index.html" class="tag rust">Rust</a>
            <a href="/category-index.html" class="tag technology">Data</a>
            <a href="/category-index.html" class="tag pizza">Tag 3</a>
            <a href="/category-index.html" class="tag rust">Tag 4</a>
            <a href="/category-index.html" class="tag pizza">Tag 5</a>
            <a href="/category-index.html" class="tag rust">Tag 6</a>
            <a href="/category-index.html" class="tag pizza">Tag 7</a>
            <a href="/category-index.html" class="tag technology">Tag 8</a>
            <a href="/category-index.html" class="tag rust">Tag 9</a>
            <a href="/category-index.html" class="tag technology">Tag 10</a>
            <a href="/category-index.html" class="tag rust">Rust</a>
            <a href="/category-index.html" class="tag technology">Data</a>
            <a href="/category-index.html" class="tag pizza">Tag 3</a>
            <a href="/category-index.html" class="tag rust">Tag 4</a>
            <a href="/category-index.html" class="tag pizza">Tag 5</a>
            <a href="/category-index.html" class="tag rust">Tag 6</a>
            <a href="/category-index.html" class="tag pizza">Tag 7</a>
            <a href="/category-index.html" class="tag technology">Tag 8</a>
            <a href="/category-index.html" class="tag rust">Tag 9</a>
            <a href="/category-index.html" class="tag technology">Tag 10</a>
            <a href="/category-index.html" class="tag rust">Rust</a>
            <a href="/category-index.html" class="tag technology">Data</a>
            <a href="/category-index.html" class="tag pizza">Tag 3</a>
            <a href="/category-index.html" class="tag rust">Tag 4</a>
            <a href="/category-index.html" class="tag pizza">Tag 5</a>
            <a href="/category-index.html" class="tag rust">Tag 6</a>
            <a href="/category-index.html" class="tag pizza">Tag 7</a>
            <a href="/category-index.html" class="tag technology">Tag 8</a>
            <a href="/category-index.html" class="tag rust">Tag 9</a>
            <a href="/category-index.html" class="tag technology">Tag 10</a>
            <a href="/category-index.html" class="tag rust">Rust</a>
            <a href="/category-index.html" class="tag technology">Data</a>
            <a href="/category-index.html" class="tag pizza">Tag 3</a>
            <a href="/category-index.html" class="tag rust">Tag 4</a>
            <a href="/category-index.html" class="tag pizza">Tag 5</a>
            <a href="/category-index.html" class="tag rust">Tag 6</a>
            <a href="/category-index.html" class="tag pizza">Tag 7</a>
            <a href="/category-index.html" class="tag technology">Tag 8</a>
            <a href="/category-index.html" class="tag rust">Tag 9</a>
            <a href="/category-index.html" class="tag technology">Tag 10</a>
        </div>
    </div>
</div>
