// Tag colors
.rust {
  color: rgb(158, 127, 40);
}

.pizza {
  color: red;
}

.technology {
  color: rgb(70, 72, 214);
}

.newtag {
  color: rgb(171, 214, 70);
}

// Add Category & Tag class colors here!

// Category Tag functionality
.article_tag.ecology {
  color: var(--ecology);
}
.article_tag.quantum {
  color: var(--quantum);
}
.article_tag.etcetera {
  color: var(--etcetera);
}
.article_tag.category {
  text-transform: uppercase;
  justify-content: start;
  font-size: 1.25em;
}
.article_tag.category::before {
  content: "";
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  animation: gear-rotate 80s linear infinite;
}
.article_tag.category.ecology::before {
  background: url(/images/compassgear_eco.svg) no-repeat center;
}
.article_tag.category.quantum::before {
  background: url(/images/compassgear_quantum.svg) no-repeat center;
}
.article_tag.category.etcetera::before {
  background: url(/images/compassgear_etcetera.svg) no-repeat center;
}
.article_tag.category.ecology::after {
  content: "Computational Ecology";
}
.article_tag.category.quantum::after {
  content: "Quantum Computing";
}
.article_tag.category.etcetera::after {
  content: "Et Cetera";
}

// Page Context Coloration
.category-index .hero_content_gear::before {
  content: url(/images/compassgear_black.svg);
}
body.ecology {
  --accent-clr: var(--ecology);
  --accent-img: url("/images/trees.jpg");
  &.category-index .hero_content_gear::before {
    content: url(/images/compassgear_eco.svg);
  }
  &.category-index .hero_content_title-large::before {
    content: "Computational Ecology";
  }
}
body.quantum {
  --accent-clr: var(--quantum);
  --accent-img: url("/images/quantum-computer.jpg");
  &.category-index .hero_content_gear::before {
    content: url(/images/compassgear_quantum.svg);
  }
  &.category-index .hero_content_title-large::before {
    content: "Quantum Computing";
  }
}
body.etcetera {
  --accent-clr: var(--etcetera);
  --accent-img: url("/images/colors.jpg");
  &.category-index .hero_content_gear::before {
    content: url(/images/compassgear_etcetera.svg);
  }
  &.category-index .hero_content_title-large::before {
    content: "Et Cetera";
  }
}
body.tags-index {
  --accent-clr: var(--textDark);
  --accent-img: url("/images/computing.jpg");
}
body.projects {
  --accent-clr: var(--textDark);
  --accent-img: url("/images/board.jpg");
}

// Layout & Style Utilities
.caps-bold {
  font-weight: 800;
  text-transform: uppercase;
}

.button-dark {
  padding: 1em 2.5em;
  background: var(--textDark);
  color: var(--textLight);
  transition: opacity 150ms ease-in-out;
  margin-right: auto;
  cursor: pointer;
  &:hover {
    background: var(--dark-hover);
  }
}

.tinted {
  background: var(--grey);
  padding: 12em 0;
  margin-top: 0;
  margin-bottom: 0;
}

.no-tb-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-t-padding {
  padding-top: 0;
}

.no-tb-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-t-margin {
  margin-top: 0;
}

.t-margin {
  margin-top: 12em;
}

.b-margin {
  margin-bottom: 12em;
}

.no-wrap {
  white-space: nowrap;
}
