:root {
  --textDark: black;
  --textLight: white;
  --grey: #f8f8f8;
  --ecology: #007b45;
  --quantum: #ff8701;
  --etcetera: #8400ff;
  --accent-clr: var(--ecology);
  --dark-hover: rgb(59, 59, 59);
}

@mixin divider {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 15%;
  height: 2px;
  background: currentColor;
  opacity: 0.1;
}

@mixin notap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin full-width {
  width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
