---
layout: default
---
<section class="section no-tb-margin hero">
  <div class="container">
    <div class="hero_content">
      <h1 class="hero_content_title">
        <span class="hero_content_title-small">Code with meaning.</span>
        <span class="hero_content_title-large">Electric Jones</span>
      </h1>
      <div class="hero_content_intro-wrap">
        <p class="hero_content_intro">
          I thrive on creative collaboration with smart, passionate people
          solving complex problems using computer science. I also view life
          like an old school action rpg, and this site is the map I leave
          for others to join me on my journey.
        </p>
        <div class="hero_content_nav-wrap">
          <p class="hero_content_cta-title">Choose Your Adventure:</p>
          <div class="hero_content_nav">
            <div class="hero_content_nav-link-wrap">
              <a
                      href=""
                      class="
                      hero_content_nav-link
                      article_tag
                      category
                      ecology
                      is-active
                    "
              >
              </a>
            </div>
            <div class="hero_content_nav-link-wrap">
              <a
                      href=""
                      class="hero_content_nav-link article_tag category quantum"
              >
              </a>
            </div>
            <div class="hero_content_nav-link-wrap">
              <a
                      href=""
                      class="hero_content_nav-link article_tag category etcetera"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero_categories">
    <div class="hero_category ecology is-visible">
      <div class="hero_category_color"></div>
      <img src="/images/trees.jpg" alt="" class="hero_category_img" />
    </div>
    <div class="hero_category quantum">
      <div class="hero_category_color"></div>
      <img
              src="/images/quantum-computer.jpg"
              alt=""
              class="hero_category_img"
      />
    </div>
    <div class="hero_category etcetera">
      <div class="hero_category_color"></div>
      <img src="/images/colors.jpg" alt="" class="hero_category_img" />
    </div>
  </div>
</section>

<section class="section featured tinted">
  <div class="container small">
    <div class="section_content">
      <h2 class="section_title">Recent Posts</h2>
      <div class="article-list large">
        <article class="article">
          <a href="/article.html" class="article_img-link">
            <img src="/images/board.jpg" alt="" class="article_img" />
          </a>
          <div class="article_info">
            <a href="" class="article_tag category quantum"> </a>
            <a href="" class="article_info_inner">
              <h3 class="article_title">
                Computing is hard to do sometimes.
              </h3>
              <p class="article_snippet">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi laudantium quam expedita. Optio ut omnis,
                necessitatibus et hic quas. Iste?
              </p>
            </a>
            <div class="article_tags">
              <a href="" class="article_tag rust">Rust</a>
              <a href="" class="article_tag pizza">Pizza</a>
              <a href="" class="article_tag technology">Technology</a>
            </div>
            <p class="article_date">4/1/2021</p>
          </div>
        </article>
        <article class="article">
          <a href="/article.html" class="article_img-link">
            <img src="/images/perdson.jpg" alt="" class="article_img" />
          </a>
          <div class="article_info">
            <a href="" class="article_tag category ecology"> </a>
            <a href="" class="article_info_inner">
              <h3 class="article_title">
                Trees + computers = good things for the world.
              </h3>
              <p class="article_snippet">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi laudantium quam expedita. Optio ut omnis,
                necessitatibus et hic quas. Iste? Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Quasi laudantium quam
                expedita. Optio ut omnis, necessitatibus et hic quas. Iste?
              </p>
            </a>
            <div class="article_tags">
              <a href="" class="article_tag rust">Rust</a>
              <a href="" class="article_tag pizza">Pizza</a>
              <a href="" class="article_tag technology">Technology</a>
            </div>
            <p class="article_date">4/1/2021</p>
          </div>
        </article>
        <article class="article">
          <a href="/article.html" class="article_img-link">
            <img
                    src="/images/pexels-josh-sorenson-1714208.jpg"
                    alt=""
                    class="article_img"
            />
          </a>
          <div class="article_info">
            <a href="" class="article_tag category etcetera"></a>
            <a href="" class="article_info_inner">
              <h3 class="article_title">
                There's more things to do if you want to learn.
              </h3>
              <p class="article_snippet">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi laudantium quam expedita. Optio ut omnis,
                necessitatibus et hic quas. Iste?
              </p>
            </a>
            <div class="article_tags">
              <a href="" class="article_tag rust">Rust</a>
              <a href="" class="article_tag pizza">Pizza</a>
              <a href="" class="article_tag technology">Technology</a>
            </div>
            <p class="article_date">4/1/2021</p>
          </div>
        </article>
        <article class="article">
          <a href="/article.html" class="article_img-link">
            <img
                    src="/images/pexels-jéshoots-4316.jpg"
                    alt=""
                    class="article_img"
            />
          </a>
          <div class="article_info">
            <a href="" class="article_tag category quantum"> </a>
            <a href="" class="article_info_inner">
              <h3 class="article_title">
                Computing is hard to do sometimes.
              </h3>
              <p class="article_snippet">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Quasi laudantium quam expedita. Optio ut omnis,
                necessitatibus et hic quas. Iste?
              </p>
            </a>
            <div class="article_tags">
              <a href="" class="article_tag rust">Rust</a>
              <a href="" class="article_tag pizza">Pizza</a>
              <a href="" class="article_tag technology">Technology</a>
            </div>
            <p class="article_date">4/1/2021</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section about" id="about">
  <div class="container small">
    <div class="about_inner">
      <div class="feature-image_wrap">
        <img
                src="/images/michael.jpg"
                alt="Photo of Michael wilson"
                class="feature-image"
        />
        <div class="social-icons">
          <a href="" class="social-icons_link"
          ><img
                  src="/images/github-logo-fill.svg"
                  alt=""
                  class="social-icons_link_icon"
          /></a>

          <a href="" class="social-icons_link"
          ><img
                  src="/images/linkedin-logo-fill.svg"
                  alt=""
                  class="social-icons_link_icon"
          /></a>

          <a href="" class="social-icons_link"
          ><img
                  src="/images/instagram-logo-fill.svg"
                  alt=""
                  class="social-icons_link_icon"
          /></a>

          <a href="" class="social-icons_link"
          ><img
                  src="/images/email-solid.svg"
                  alt=""
                  class="social-icons_link_icon"
          /></a>
        </div>
      </div>
      <div class="section_content">
        <h2 class="section_title">
          Hi friend, I'm <span class="green-text">Michael Wilson</span>
        </h2>
        <p class="section_desc">
          I am a scholar, storyteller, gamer, and computer scientist, and
          systems engineer. I first started programming in fourth grade
          (thank you Meadowbrook Elementary for have a one-computer lab) and
          haven’t looked back. I am fascinated by how things work, how we
          can make them work better, and how we can use them to make the
          world better. <br /><br />
          I trive on creative collaboration with smart, passionate people
          tackling complex, impactful problems. This means uniting teams of
          people from different disciplines: engineers, artists,
          storytellers, organizers, and more.
          <br /><br />
          My degrees are in Anthropology and Educational Psychology, and I
          am currently pursing a Master’s of Science in Computer Science
          from Georgia Tech.
          <br /><br />
          I see computer science (and engineering in general) as tools for
          great impact. There is enormous value in sharpening the tool, or
          in advancing the tool for its own sake. I call this “Craft”.
          <br /><br />
          But a tool is meant to be used, and the applications for computer
          science are nearly endless. I call this “Domain”.
          <br /><br />
          My primary “Craft Interests” involve New Forms of Computing (high
          performance and embedded/realtime), AI, and robotics. The
          “Domains” I am most passionate about are climate change, ocean
          conservation, and civic action (especially information).
        </p>
      </div>
    </div>
  </div>
</section>