---
layout: default
---
<section class="section no-tb-margin sub-hero">
    <div class="container">
        <div class="hero_content"  style="min-height: 320px;">
            <h1 class="hero_content_title">
                <span class="hero_content_title-large black">
                    {{ page.title }}
                </span>
            </h1>
            <div class="hero_content_gear">
                <img src="{{ page.logo | default: '/assets/images/compassgear_etcetera.svg' }}">
            </div>
            <div class="hero_content_intro-wrap">
                <p class="hero_content_intro">
                    {{ content }}
                </p>
                {% if index.links %}
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p align="center">
                        |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for link in index.links %}
                        <a href="{{ link.url }}">{{ link.text }}</a>&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
