---
layout: default
---
<section class="section no-tb-margin article_hero">
  <div class="container small">
    <div class="hero_content">
      <div class="hero_article_img-wrap">
        <img
                class="hero_article_img"
                src="{{ page.hero.url }}"
                alt=""
        />
      </div>
      <p class="hero_article_attribution">
        {{ page.hero.tag}}
      </p>
    </div>
  </div>
</section>

<section class="section no-t-margin article_body">
  <div class="container small">
    <div class="section_content">
      <a href="" class="article_tag category quantum"> </a>
      <h1 class="article_title">{{ page.title }}</h1>
      <p class="article_intro">
        {{ page.blurb }}
      </p>
      <div class="article_info">
        <p class="article_author">{{ page.author }}</p>
        <p class="article_date">{{ page.date | date_to_string }}</p>
      </div>
      <div class="article_body_inner">
        {{ content }}
      </div>
      <div class="article_body_inner article_tags">
        <div class="tags-wrap">
          <a href="/{{ page.category }}" class="article_tag category {{ page.category }}"> </a>

          {% for tag_name in page.tags %}
            <a href="" class="tag {{ site.data.index[tag_name].color }}">{{ tag_name }}</a>
          {% endfor %}
        </div>
        <div class="article_nav">
          <div class="article_nav_btn">
            {% if page.previous_url %}
              <a href="{{ page.previous_url }}" class="article_nav_link previous">Previous Article</a>
            {% endif %}
            &nbsp;
          </div>
          <div class="social-icons">
            <a href="https://twitter.com/intent/tweet?text={{ post.url }}" class="social-icons_link"
            ><img
                    src="/assets/images/twitter-logo-fill.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" class="social-icons_link"
            ><img
                    src="/assets/images/facebook-circular-logo.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>
          </div>

          <div class="article_nav_btn">
            {% if page.next_url %}
              <a href="{{ page.next_url }}" class="article_nav_link next">Next Article</a>
            {% endif %}
            &nbsp;
          </div>
        </div>
        <div class="article_author-card">
          <div class="article_author-card_img-wrap">
            <img
                    src="/assets/images/michael.jpg"
                    alt=""
                    class="article_author-card_img"
            />
          </div>

          <div class="article_author-card_info">
            <h3 class="article_author-card_title">The Author</h3>
            <p class="article_author-card_desc">
              I’m Michael Wilson and you should get to know more about me by
              browsing my social media, reading my bio, and/or other
              articles...
            </p>
          </div>

          <div class="social-icons">
            <a href="" class="social-icons_link"
            ><img
                    src="/assets/images/github-logo-fill.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>

            <a href="" class="social-icons_link"
            ><img
                    src="/assets/images/linkedin-logo-fill.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>

            <a href="" class="social-icons_link"
            ><img
                    src="/assets/images/instagram-logo-fill.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>
            <a href="" class="social-icons_link"
            ><img
                    src="/assets/images/email-solid.svg"
                    alt=""
                    class="social-icons_link_icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign popular_posts = site.posts %}

{% include all-posts.html posts=popular_posts limit=3 title="Recent Posts" %}