---
layout: default
category: ecology
body-class: category-index
---
{% assign index_name = page.autopages.display_name %}
{% assign index = site.data.index[index_name] %}

<section class="section no-tb-margin sub-hero">
    <div class="container">
        <div class="hero_content"  style="min-height: 320px;">
            <h1 class="hero_content_title">
                <span class="hero_content_title-large {{ index.color | default: 'black' }}">
                    {{ index.title | default: index_name}}
                </span>
            </h1>
            <div class="hero_content_gear">
                <img src="{{ index.logo | default: '/assets/images/compassgear_black.svg' }}">
            </div>
            <div class="hero_content_intro-wrap">
                <p class="hero_content_intro">
                    {{ index.description }}
                </p>
                {% if index.links %}
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p align="center">
                        |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for link in index.links %}
                            <a href="{{ link.url }}">{{ link.text }}</a>&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include sticky.html sticky = index.sticky %}

{% include all-posts.html %} <!-- Must be given a paginator object -->

{% if paginator.total_pages > 1 %}
    <div class="article_nav" align="center">
        <div class="article_nav_btn">
            {% if paginator.previous_page %}
                <strong><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="article_nav_link previous"><< Previous</a></strong>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if paginator.next_page %}
                <strong><a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="article_nav_link next">Next >></a></strong>
            {% endif %}
            &nbsp;
        </div>
    </div>
{% endif %}