---
layout: default
category: ecology
body-class: category-index
---
{% assign index_name = page.autopages.display_name %}
{% assign index = site.data.index[index_name] %}

<section class="section no-tb-margin sub-hero">
    <div class="container">
        <div class="hero_content"  style="min-height: 320px;">
            <h1 class="hero_content_title">
                <span class="hero_content_title-large">
                    {{ index.title | default: index_name}}
                </span>
            </h1>
            <div class="hero_content_gear">
                <img src="{{ index.logo | default: '/assets/images/compassgear_black.svg' }}">
<!--                <img src="/assets/images/compassgear_black.svg">-->
<!--                <img src="/assets/images/compassgear_eco.svg">-->
<!--                <img src="/assets/images/compassgear_quantum.svg">-->
<!--                <img src="/assets/images/compassgear_etcetera.svg">-->
            </div>
            <div class="hero_content_intro-wrap">
                <p class="hero_content_intro">
                    {{ index.description }}
                </p>
                {% if index.links %}
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <hr>
                    <p align="center">
                        |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for link in index.links %}
                            <a href="{{ link.url }}">{{ link.text }}</a>&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% if index.sticky %}
    <section class="section favorites tinted">
    <div class="container small">
        <div class="section_content">
            <h2 class="section_title">Favorite Thoughts</h2>
            <div class="article-list large">
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/board.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"></a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Computing is hard to do sometimes.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/perdson.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Trees + computers = good things for the world.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste? Lorem ipsum dolor sit amet
                                consectetur, adipisicing elit. Quasi laudantium quam
                                expedita. Optio ut omnis, necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="/assets/images/pexels-josh-sorenson-1714208.jpg"
                                alt=""
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                There's more things to do if you want to learn.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="/assets/images/pexels-jéshoots-4316.jpg"
                                alt=""
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Computing is hard to do sometimes.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="section all-posts">
    <div class="container small">
        <div class="section_content">
            <h2 class="section_title">All Posts</h2>
            <div class="article-list small">
                {% for post in paginator.posts %}
                    <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="{{ post.hero.url }}"
                                alt="{{ post.hero.tag }}"
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category {{ post.category }}"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                {{ post.title }}
                            </h3>
                            <p class="article_snippet">
                                {{ post.blurb }}
                            </p>
                        </a>
                        <div class="article_tags">
                            {% for tag in post.tags %}
                                <a href="" class="article_tag {{ site.data.index[tag].color }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <p class="article_date {{ post.category }}">{{ post.date | date_to_string }}</p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>