---
layout: default
category: ecology
body-class: category-index
---
<section class="section no-tb-margin sub-hero">
    <div class="container">
        <div class="hero_content">
            <h1 class="hero_content_title">
                <span class="hero_content_title-large">Computational Ecology</span>
            </h1>
            <div class="hero_content_gear">
<!--                <img src="/assets/images/compassgear_black.svg">-->
                <img src="/assets/images/compassgear_eco.svg">
<!--                <img src="/assets/images/compassgear_quantum.svg">-->
<!--                <img src="/assets/images/compassgear_etcetera.svg">-->
            </div>
            <div class="hero_content_intro-wrap">
                <p class="hero_content_intro">
                    Brief explanation of this category here. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Ipsum amet massa amet sagittis,
                    nulla. Egestas ipsum urna, mauris, tortor pellentesque.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <hr>
                <p align="center">
                    <a href="#">One</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Two and Three</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Four</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section favorites tinted">
    <div class="container small">
        <div class="section_content">
            <h2 class="section_title">Favorite Thoughts</h2>
            <div class="article-list large">
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/board.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"></a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Computing is hard to do sometimes.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/perdson.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Trees + computers = good things for the world.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste? Lorem ipsum dolor sit amet
                                consectetur, adipisicing elit. Quasi laudantium quam
                                expedita. Optio ut omnis, necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="/assets/images/pexels-josh-sorenson-1714208.jpg"
                                alt=""
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                There's more things to do if you want to learn.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="/assets/images/pexels-jéshoots-4316.jpg"
                                alt=""
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Computing is hard to do sometimes.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section all-posts">
    <div class="container small">
        <div class="section_content">
            <h2 class="section_title">All Posts</h2>
            <div class="article-list small">
                <article class="article">
                    <a href="" class="article_img-link">
                        <img
                                src="/assets/images/pexels-markus-spiske-2004161.jpg"
                                alt=""
                                class="article_img"
                        />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Computing is hard to do sometimes.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/perdson.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                Trees + computers = good things for the world.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste? Lorem ipsum dolor sit amet
                                consectetur, adipisicing elit. Quasi laudantium quam
                                expedita. Optio ut omnis, necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
                <article class="article">
                    <a href="" class="article_img-link">
                        <img src="/assets/images/board.jpg" alt="" class="article_img" />
                    </a>
                    <div class="article_info">
                        <a href="" class="article_tag category ecology"> </a>
                        <a href="" class="article_info_inner">
                            <h3 class="article_title">
                                There's more things to do if you want to learn.
                            </h3>
                            <p class="article_snippet">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Quasi laudantium quam expedita. Optio ut omnis,
                                necessitatibus et hic quas. Iste?
                            </p>
                        </a>
                        <div class="article_tags">
                            <a href="" class="article_tag rust">Rust</a>
                            <a href="" class="article_tag pizza">Pizza</a>
                            <a href="" class="article_tag technology">Technology</a>
                        </div>
                        <p class="article_date">4/1/2021</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>